# Added because AT&T build systems don't like git very much
bin/
include/
lib/
ship/SHIPiffe.sh
ship/SHIPin
ship/SHIPop.c
ship/SHIPprobe
ship/SHIPproto.c
ship/ksh93/in.log
ship/lib0ast/950811/BUILT
ship/lib0ast/in.log
ship/libAST/930519/BUILT
ship/libAST/in.log
ship/libast/950811/ERROR
ship/libast/in.log
ship/libcmd/950811/ERROR
ship/libcmd/in.log
ship/libodelta/in.log
ship/libvdelta/in.log
ship/pax/in.log
ship/shipiffe
ship/shipop
ship/shipproto
src/lib/lib0ast/MAM.list
src/lib/lib0ast/MAM.time
src/lib/lib0ast/hostinfo
src/lib/lib0ast/prototyped.h
src/lib/libAST/MAM.list
src/lib/libAST/MAM.time
src/lib/libAST/prototyped.h
src/lib/libast/FEATURE/
src/lib/libast/MAM.list
src/lib/libast/MAM.time
src/lib/libast/ast_botch.h
src/lib/libast/ast_fs.h
src/lib/libast/ast_lib.h
src/lib/libast/ast_unistd.h
src/lib/libast/conf
src/lib/libast/conflib.h
src/lib/libast/conflim.h
src/lib/libast/confmap.c
src/lib/libast/confmap.h
src/lib/libast/confstr.c
src/lib/libast/conftab.c
src/lib/libast/conftab.h
src/lib/libast/confuni.h
src/lib/libast/pathconf.c
src/lib/libast/sysconf.c
src/lib/libcmd/MAM.list
src/lib/libcmd/MAM.time
man/
ship/ksh93/950807/BUILT
ship/libast/950811/BUILT
ship/libcmd/950811/BUILT
ship/libodelta/950811/BUILT
ship/libvdelta/950811/BUILT
ship/pax/950811/BUILT
src/cmd/ksh93/FEATURE/
src/cmd/ksh93/MAM.list
src/cmd/ksh93/MAM.time
src/cmd/ksh93/ksh
src/cmd/ksh93/ksh.msg
src/cmd/ksh93/libshell.a
src/cmd/ksh93/shcomp
src/cmd/ksh93/suid_exec
src/cmd/pax/FEATURE/
src/cmd/pax/MAM.list
src/cmd/pax/MAM.time
src/cmd/pax/bax
src/cmd/pax/cpio
src/cmd/pax/nocom
src/cmd/pax/pax
src/cmd/pax/tar

# Ignore other stuff
arch/
*.bak
*.orig
*.rej
*.o
